{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <h3 class="titulo">{{titulo}}</h3>
        <div class="form">
            {{ form_start(formUser) }}
            {{ form_start(formJugador) }}
            
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form_label(formJugador.nombre) }}
                        {{ form_widget(formJugador.nombre) }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form_label(formJugador.apellido) }}
                        {{ form_widget(formJugador.apellido) }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form_label(formUser.email) }}
                        {{ form_widget(formUser.email) }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form_label(formJugador.telefono) }}
                        {{ form_widget(formJugador.telefono) }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form_label(formUser.password) }}
                        {{ form_widget(formUser.password) }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form_label(formJugador.fechaNacimiento) }}
                        {{ form_widget(formJugador.fechaNacimiento) }}
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form_label(formUser.password2) }}
                        {{ form_widget(formUser.password2) }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form_label(formJugador.altura) }}
                        {{ form_widget(formJugador.altura) }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form_label(formJugador.peso) }}
                        {{ form_widget(formJugador.peso) }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form_label(formJugador.capitan) }}
                        {{ form_widget(formJugador.capitan) }}
                    </div>
                </div>
            </div>

            <div class="bottom-buttons">
				<button type="submit" id="submitButton" class="btn btn-outline-secondary">GUARDAR</button>
				<button class="btn btn-outline-info" onclick="window.history.back()">CANCELAR</button>
			</div>

            {{ form_end(formJugador) }}
            {{ form_end(formUser) }}

        </div>
    </div>

{% endblock %}
